{% assign padding = '' %}
{% if section.settings.padding %}
    {% assign padding = 'px-2' %}
{% endif %}
<section class="{{ padding }}">
    <div class="container">
        <div class="flex justify-between">
            {% for block in section.blocks %}
                <div class="w-full max-w-[calc(50%-0.5rem)] pb-4">
                    <div class="relative pt-[150%]">
                        {% case block.type %}
                            {% when 'image' %}
                                {{ block.settings.image | image_url: width: 1024 | image_tag: alt: '', class: 'absolute top-0 left-0 w-full h-full object-cover' }}
                            {% when 'video' %}
                                <video muted autoplay controls="false">
                                    <source src="{{ block.settings.video_url }}" type="video/mp4">
                                    Your browser does not support the mp4 video format.
                                </video>
                            {% else %}
                        {% endcase %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Y-2 Col",
  "tag": "section",
  "class": "section",
  "max_blocks": 2,
  "settings": [
    {
        "type": "checkbox",
        "id": "padding",
        "label": "Add padding",
        "info": "If left unchecked, all blocks will go edge to edge (full-width). Otherwise, all blocks will have white padding around the content",
        "default": true
    }
  ],
  "blocks": [
    {
        "name": "Video",
        "type": "video",
        "settings": [
            {
                "type": "url",
                "id": "video_url",
                "label": "Video URL"
              }
        ]
    },
    {
        "name": "Image",
        "type": "image",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "url",
                "id": "image_link",
                "label": "Image Link"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Y-2 Col"
    }
  ]
}
{% endschema %}
