<footer class="min-h-[120px] w-full bg-white xl:pt-10">
    <hr class="border-0 border-t border-black w-[90%] block mb-3">
    <hr class="border-0 border-t border-black w-full block">
    <div class="container mt-5">
      <div>
        <p class="text-p normal-case font-mono italic">
          Apache/1.1.2 Server at Yossi Art and Sound Factory LLc.
        </p>
      </div>
    </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "class": "section-footer",
  "settings": [
    {
        "type": "image_picker",
        "id": "logo_override",
        "label": "Logo override"
    }
  ],
  "blocks": [
    {
        "name": "Icon Link",
        "type": "icon_link",
        "settings": [
            {
                "type": "text",
                "id": "icon_class",
                "label": "Icon FA class",
                "info": "Use Font Awesome classes"
            },
            {
              "type": "url",
              "id": "link_url",
              "label": "Link URL"
          }
        ]
    }
  ]
}
{% endschema %}