<section>
    <div class="container">
        {% for block in section.blocks %}
            <div class="relative w-full pt-4/3 pb-4">
                {% case block.type %}
                    {% when 'image' %}
                        {{ block.settings.image | image_url: width: 1024 | image_tag: alt: '', class: 'absolute top-0 left-0 w-full h-full object-cover' }}
                    {% else %}
                        <video muted autoplay class="absolute top-0 left-0 w-full h-full object-cover">
                            <source src="{{ block.settings.video_url }}" type="video/mp4">
                            Your browser does not support the mp4 video format.
                        </video>
                {% endcase %}
            </div>
        {% endfor %}
    </div>
</section>

{% schema %}
{
  "name": "Y-Hero",
  "tag": "section",
  "class": "section",
  "max_blocks": 1,
  "settings": [
    {
        "type": "text",
        "id": "scroll_prompt",
        "label": "Scroll Prompt"
    }
  ],
  "blocks": [
    {
        "name": "Video",
        "type": "video",
        "settings": [
            {
                "type": "url",
                "id": "video_url",
                "label": "Video URL",
                "info": "Only accepts mp4"
              }
        ]
    },
    {
        "name": "Image",
        "type": "image",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "url",
                "id": "image_link",
                "label": "Image Link"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Y-Hero"
    }
  ]
}
{% endschema %}
