<section class="pb-4">
    <div class="container reveal-fade-in load-hidden">
        {% for block in section.blocks %}
            <div class="relative w-full pt-4/3">
                {% case block.type %}
                    {% when 'image' %}
                        {{ block.settings.image | image_url: width: 1024 | image_tag: alt: '', class: 'absolute top-0 left-0 w-full h-full object-cover' }}
                    {% else %}
                        {% render 'yossi-video', video_url: block.settings.video_url %}
                        <div class="absolute bottom-8 text-center w-full text-white z-10">
                            <span>{{ section.settings.scroll_prompt }}</span>
                            <div class="text-center w-6 mx-auto animate-bounce mt-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                            </div>
                        </div>
                {% endcase %}
            </div>
        {% endfor %}
    </div>
</section>

{% schema %}
{
  "name": "Y-Hero",
  "tag": "section",
  "class": "section",
  "max_blocks": 1,
  "settings": [
    {
        "type": "text",
        "id": "scroll_prompt",
        "label": "Scroll Prompt"
    }
  ],
  "blocks": [
    {
        "name": "Video",
        "type": "video",
        "settings": [
            {
                "type": "url",
                "id": "video_url",
                "label": "Video URL",
                "info": "Only accepts mp4"
              }
        ]
    },
    {
        "name": "Image",
        "type": "image",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "url",
                "id": "image_link",
                "label": "Image Link"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Y-Hero"
    }
  ]
}
{% endschema %}
