@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@layer base {
    html, body {
        @apply font-jost;
    }

    h1, h2, h3 {
        @apply font-medium uppercase;
    }

    h2 {
        @apply text-38px-40px;
    }

    h3 {
        @apply text-lg;
    }

    p {
        @apply text-base leading-6 font-light tracking-wide;
    }

    .y-button {
        @apply border border-black bg-black text-white px-6 py-4 min-w-[240px] inline-block hover:opacity-90 transition-opacity;
    }
}

.fancy-border {
    @apply relative py-2 px-4 border border-black;
    
}

.fancy-border:after {
    @apply block absolute -top-4 right-4 -bottom-4 left-4 border border-black;
    content: ' ';
}

@keyframes menuFadeIn {
    0% { height:0; opacity: 0 }
    10% { height: 100vh; opacity: 0 }
    100% { height: 100vh; opacity: 1 }
}

@keyframes menuFadeOut {
    0% { height:100vh; opacity: 1 }
    90% { height: 100vh; opacity: 0; }
    100% { height: 0; opacity: 0 }
}

.menu-fade-in {
    animation-name: menuFadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.menu-fade-out {
    animation-name: menuFadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

html.sr .load-hidden {
    visibility: hidden;
}